{%- filter indent(width=2) %}
axelar-sei:
  src:
    chain-id: axelar-testnet-lisbon-3
    client-id: 07-tendermint-464
    connection-id: connection-368
  dst:
    chain-id: atlantic-2
    client-id: 07-tendermint-80
    connection-id: connection-52
  src-channel-filter:
    rule: ''
    channel-list: []
{%- endfilter %}