global:
  api-listen-addr: :{{ metrics_port }}
  timeout: 10s
  memo: {{ memo }}
  light-cache-size: 20
chains:
  {% include 'testnet/chains/axelar.yaml.j2' %}

  {% include 'testnet/chains/osmosis.yaml.j2' %}

  {% include 'testnet/chains/sei.yaml.j2' %}

paths:
  {% include 'testnet/paths/axelar-sei.yaml.j2' %}

  {% include 'testnet/paths/osmosis-sei.yaml.j2' %}
